@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

.App {
  text-align: center;
  font-family: "Single Day", cursive;
}
.Brand {
  text-align: center;
  background-color: white;
  padding: 50px;
}
.products {
  font-family: "Gamja Flower", cursive;
}
/* .navbar {
  width: 100%;
  height: 50px;
  position: fixed;
} */
.detail {
  font-family: "Gamja Flower", cursive;
}
.detail_image {
  float: left;
  clear: both;
}

.Info {
  text-align: center;
  float: left;
  padding: 40px;
  width: 100%;
  height: 250px;
  background-color: rgb(159, 176, 129, 0.8);
}
.jb-text {
  position: absolute;
  top: 50%;
  width: 100%;
}
.jb-text h1 {
  margin-top: -150px;
  text-align: center;
  font-size: 200px;
  color: #ffffff;
  opacity: 0.7;
  font-style: oblique;
}
.jb-text p {
  margin-top: -20px;
  text-align: center;
  font-size: 38px;
  color: #ffffff;
  opacity: 0.7;
  font-style: inherit;
}
.bottom {
  margin: 40px;
  text-align: center;
  height: 300x;
}
.mainlogo {
  cursor: pointer;
}
.mainImg1 {
  margin: 0px;
  padding: 30px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.mainImg2 {
  margin: 0px;
  padding: 30px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.mainImg1:hover {
  filter: brightness(0.5);
}

.mainImg2:hover {
  filter: brightness(0.5);
}

/* @media only screen and (max-width: 700px) {
  h1 {
    
  }
}

@media only screen and (max-width: 400px) {
} */
